@import url('https://fonts.google.com/specimen/Poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

h3 {
    padding-top: 50px;
    font-size: 25px;
    font-weight: bold;
    color: white;		 
 }	  

.search-box{
  display:flex;
  flex-direction:column;
}




.row{
  display:flex;
  flex-direction:row;
  height:50px;
}

.form-box h2 {
  font-size: 2em;
  color: #162938;
  text-align: center;
}
.input-box {
  /*position: relative;*/
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: black;
  line-height: 57px;
}

.result-box ul{
  /* display:flex;
  flex:1;
  flex-direction:row; */
  border-top:1px solid #999;
  padding: 15px 10px;
}

.result-box ul li{
  list-style:none;
  display:flex;
  flex-direction:column;
  flex:1;
  border-radius:3px;
  padding:15px 10px;
  cursor:pointer;
}

.result-box ul li:hover{
  background:#e9f3ff;
}

.remember-forgot {
  font-size: 0.9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: #162938;
  margin-right: 3px;
}
.remember-forgot a {
  color: #162938;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}
.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a {
  color: #162938;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}


.div1 {
    background-color:black;
    height: 600px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 50px;

    flex-direction: column;
    -webkit-text-fill-color: aliceblue;
}

.background-clip{
    position:absolute;
    bottom:0;
    z-index:-1;
}

@media(min-aspect-ratio:16/9){
    .background-clip{
        width:100%;
        height:800px;
    }
}


.div1,body,html {

    height: 100vh;
}

form {
    margin: auto;
}

.btn {
    border-radius: 0rem;
}

.navbar-brand {
    margin-left: 10%;
}

.count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    /* box-shadow: 0px 2px 35px rgb(0 0 0 / 6%); */
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;

}

.num {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    padding: 1px;
}

/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
    border: none;
    background: none;
    color: #8b8ba7;
  }
  /* styling of whole input container */
  .form {
    --timing: 0.3s;
    --width-of-input: 500px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg:white;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    margin-bottom:420px;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff);
  }
  /* styling of Input */
  .input {
    font-size: 0.9rem;
    background-color: transparent;
    -webkit-text-fill-color: black;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  /* styling of animated border */
  .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
  }
  /* Hover on Input */
  .form:focus-within {
    border-radius: var(--after-border-radius);
  }
  
  input:focus {
    outline: none;
  }
  /* here is code of animated border */
  .form:focus-within:before {
    transform: scale(1);
  }
  /* styling of close button */
  /* == you can click the close button to remove text == */
  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  /* close button shown when typing */
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  /* sizing svg icons */
  .form svg {
    width: 17px;
    margin-top: 3px;
  }


/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.cover {
    position: relative;
    width: 80%;
    height: 50%;

}

.scroll-images::-webkit-scrollbar {
    -webkit-appearance: none;
}

.ico {
    color: green;
    /* background-color: black; */
    font-size: 50px;
    outline: none;
    border: none;
    padding: 0px 20px;
    cursor: pointer;
    background: none;

}

.ico:hover {
    color: yellow;
}

#carouselExampleIndicators {
    height: 500px;
    width: 900px;
    margin: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.carousel-inner {
    height: 500px;
    width: 900px;
    align-content: center;
}

.carousel-item {
    height: 500px;
    width: 900px;
    align-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.footer{
    display:flex;
    flex-direction:row;
    flex:1;
    height:100px;
    margin-top:20px;
}

.c1{
    display:flex;
    flex-direction:row;
    margin-left:10px;
}
.p1{
    display:flex;
    flex:1;
    flex-direction:row;
}
.p2{
    display:flex;
    flex:1;
    padding-top:30px;
    padding-left:10px;
    flex-direction:row;
    font-size: 18px;
    font-weight: bold;
}
.c2{
    flex:2;
    justify-content:center;
    padding-top:30px;
    display:flex;
    flex-direction:row;
    font-size: 18px;
    font-weight: bold;
}

.c3{
    flex:0.3;
    display:flex;
    flex-direction:row;
    
}